.home_intro {
  .bold {
    font-size: 24px;
    font-weight: bold;
  }

  .intro_img {
    display: block;
    width: 25%;
    border-radius: 50%;
    margin: auto;
  }
  p {
    font-size: 18px;
    padding-bottom: 20px;
  }
}
