.interactive-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 376px 80px 376px;
  align-content: start;
  justify-items: center;
  .img-wrap {
    margin: 20px 80px;
  }

  a {
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    font-weight: 500;
    margin: 40px 40px 20px 40px;
  }
  a:hover {
    color: #222222;
    text-decoration: underline;
  }
  a:visited {
    color: #222222;
  }
}
