.App {
  width: 80%;
  margin: auto;
  background-color: #fefefe;
  font-family: "Noto Sans", Arial, sans-serif;
  display: flex;
  flex-direction: row;

  .left {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    .site-name {
      margin-bottom: 60px;
    }
    nav {
      ul {
        text-align: right;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      li {
        padding: 10px;
        a {
          color: #666666;
          text-decoration: none;
        }
      }
      .current {
        color: #222222;
        text-decoration: underline;
      }
    }
  }

  .main {
    margin: 80px 20px;
    width: 80%;
  }
}
