.App {
  width: 80%;
  margin: 20px auto;
  background-color: #fafbfb;
  font-family: "Noto Sans JP", Arial, sans-serif;
  display: flex;
  flex-direction: row;

  .left {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    margin-left: 20px;
    min-width: 20%;
    .site-name {
      margin-bottom: 65px;
      font-size: 20px;
      font-weight: 500;
      text-align: right;
    }
    nav {
      ul {
        text-align: right;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      li {
        padding: 10px;
        a {
          color: #827f7f;
          text-decoration: none;
        }
      }
      .current {
        color: #222222;
        text-decoration: underline;
      }
    }
  }

  .main {
    margin: 80px 20px;
    width: 80%;
  }
}
